<div class="container">
  <md-card class="example-card">
    <md-card-title>New load</md-card-title>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form [formGroup]="userForm"  (ngSubmit)="onSubmit()" novalidate>
          <fieldset>
            <!-- Text input-->
            <div class="form-group">
              <div class="">
                <md-input-container style="width: 100%">
                  <input mdInput type="datetime-local" name="load_time" required formControlName="load_time" placeholder="Choose a date">
                  <i class="material-icons pull-right">av_timer</i>
                </md-input-container>
                <md-datepicker #picker [touchUi]="true"></md-datepicker>
                <small class="massege" [hidden]="userForm.controls.load_time.valid || (userForm.controls.load_time.pristine)">
                 Please Choose a date & Time also
                </small>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <div class="">
                <md-input-container style="width: 100%">
                  <input mdInput type="text" required  formControlName="from_destination" placeholder="From"
                         name=" from_destination"  >
                </md-input-container>
                <small class="massege" [hidden]="userForm.controls.from_destination.valid || (userForm.controls.from_destination.pristine)">
                  From is required
                </small>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="textinput"></label>
              <div class="">
                <md-input-container style="width: 100%">
                  <input mdInput type="text" required  formControlName="to_destination"  placeholder="To"
                         name="to_destination" >
                </md-input-container>
                <small class="massege" [hidden]="userForm.controls.to_destination.valid || (userForm.controls.to_destination.pristine)">
                  To is required
                </small>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <div class="">
                <md-input-container style="width: 100%">
                  <input mdInput type="number" required  formControlName="quantity" placeholder="Quantity"
                         name="quantity">
                </md-input-container>
                <small class="massege" [hidden]="userForm.controls.quantity.valid || (userForm.controls.quantity.pristine)">
                  Quqntity is required
                </small>
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <div class="">
                <md-input-container  style="width: 100%">
                  <textarea mdInput required formControlName="notes" placeholder="Note"
                            name="notes"></textarea>
                </md-input-container>
              </div>
              <small class="massege" [hidden]="userForm.controls.notes.valid || (userForm.controls.notes.pristine)">
                Massege is required minimum 10 characters
              </small>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <md-select placeholder="Load" style="width: 100%" required formControlName="las_master_data_load_id" name="las_master_data_load_id">
                  <md-option  *ngFor="let load of loads" [value]="load.id">
                    {{ load.value }}
                  </md-option>
                </md-select>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
              <div class="">
                <md-select placeholder="Volume" style="width: 100%"  required formControlName="las_master_data_volume_id" name="las_master_data_volume_id" >
                  <md-option *ngFor="let volum of volums" [value]="volum.id">
                    {{ volum.value }}
                  </md-option>
                </md-select>
              </div>

            </div>
            <input type="submit" name="submit" value="Submit" class="btn  btn-block" md-raised-button>
          </fieldset>
        </form>
      </div>
    </div>
  </md-card>
</div>
